/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('neural_network_background.jpg'); /* Замените 'neural_network_background.jpg' на путь к вашему изображению */
    background-size: cover;
    background-position: center;
}

h1, h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Стили хедера */
header {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info p {
    margin: 0;
}

/* Стили основных секций */
section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Стили футера */
footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer nav {
    margin-top: 10px;
}

/* Медиа-запросы */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .contact-info {
        margin-bottom: 10px;
    }
}
